= render 'module/navbar'
/ Header
= render 'module/header'
/ Services
= render 'module/service'
/ Portfolio Grid
= render 'module/portfolio'
/ About
= render 'module/about'
/ Team
= render 'module/team'
/ Clients
= render 'module/clients'
/ Contact
= render 'module/contact'
/ Footer
= render 'module/footer'
/ Portfolio Modals
= render 'module/portfolio_modals'